# Archivos de entorno virtual
venv/
env/
*.env

# Archivos de base de datos
db.sqlite3

# Archivos compilados de Python
*.pyc
*.pyo
__pycache__

# Archivos de configuración de IDEs o editores (pueden ser específicos del entorno)
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de dependencias de paquetes específicos del sistema
*.egg-info/
.eggs/
build/
dist/

# Archivos de configuración locales
*.sqlite3

# Carpeta de los archivos estáticos generados
staticfiles/
